* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	width: 100%;
	font-family: roboto;
}
h1,
h2 {
	font-family: Monument;
}

#main {
	position: relative;
	height: 100%;
	width: 100%;
	background-color: #f8f8f8;
	/* background-color: green; */
	padding-top: 0.1px;
}

#nav {
	/* background-color: red; */
	height: 10vh;
	width: 100%;
	margin-top: 20px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#nav h1 {
	/* background-color: yellow; */
	height: 100%;
	width: 18%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Monument;
	font-size: 3em;
	letter-spacing: -0.2rem;
}

#nav h2 {
	/* background-color: yellow; */
	height: 100%;
	width: 22%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: 2px solid black;
	font-size: 22px;
	font-weight: 600;
}

#nav h2:nth-last-child(1) {
	width: 10%;
}

#hero {
	/* background-color: red; */
	width: 100%;
	height: 90%;
	padding: 3vw;
	position: relative;
}

#video {
	width: 100%;
	height: 100%;
	background-color: blue;
	position: relative;
}

#video video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#overlay {
	width: 100%;
	height: 40%;
	/* background-color: rgba(0, 0, 0, 0.6); */
	position: absolute;
	bottom: 0;
	color: #f8f8f8;
	padding: 3vw;
}

#over1 {
	/* position: absolute; */
	font-size: 2em;
	display: flex;

	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid white;

	/* background-color: red; */
}

#over1 h4 {
	/* background-color: red; */
	border: 2px solid white;
	padding: 25px;
	border-radius: 50%;
	font-weight: 300;
	font-size: 0.7em;
}

#over2 {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#over2 h4 {
	font-weight: 400;
	font-size: 1.3em;
}

#slider {
	width: 95%;
	/* border: red 1px solid; */
	height: var(--height);
	margin: 5px;
	overflow: hidden;
	margin: auto;

	mask-image: linear-gradient(
		to right,
		transparent,
		black 20% 80%,
		transparent
	);
}

#slider #list {
	display: flex;
	/* align-items: center; */
	/* justify-content: space-between; */
	position: relative;
	width: 100%;
	min-width: calc(var(--width) * var(--quantity));
}

#slider #list #item {
	width: var(--width);
	height: var(--height);
	position: absolute;
	left: 100%;
	animation: anime 15s linear infinite;
	animation-delay: calc((15s / var(--quantity)) * (var(--position) - 1));
}

#slider #list #item img {
	width: 100%;
}

@keyframes anime {
	from {
		left: 100%;
	}
	to {
		left: calc(var(--width) * -1);
	}
}

#slider:hover #item {
	animation-play-state: paused !important;
}
